<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renu.attendance_apk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:configChanges="orientation|screenSize"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowPercentage"/>
        <activity android:name=".Percentage" />
        <activity android:name=".Informations" />
        <activity android:name=".UpdateForAttPerson" />
        <activity android:name=".ManageForAttPersonPre" />
        <activity android:name=".UpdateForManagingLocalAttTypeIndex" />
        <activity android:name=".UpdateForManageAttIndex" />
        <activity android:name=".ManageForAttIndex" />
        <activity android:name=".ManageForAttPerson" />
        <activity android:name=".ManageForLocalAttTypeIndex" />
        <activity android:name=".Settings" />
        <activity android:name=".Update" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".AfterLogin" />
        <activity android:name=".ExistRollNames" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CreateNew2" />
        <activity android:name=".CreateNew1" />
        <activity android:name=".SpecificAttendancesFromFirebase" />
        <activity android:name=".AttendancesIndex" />
        <activity android:name=".Authentication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>